#mydiv1{
    border: 2px solid blue;
    color: blueviolet; 
    width: 500px;
    margin: 5px;
    padding: 10px;
}
#mydiv2{
    border: 2px solid pink;
    color: #800080;
    margin: 5px;
    padding: 10px;
    width: 500px;
}
.cube{
    border : 2px solid green;
    width: 50px;
    height: 50px;
    color: purple;
    background-color: royalblue;
    margin: 5px;
    padding: 10px;
    display: inline-block;


    

}